.ul-tab {
    display: inline-block;
    margin: 48px auto;
    border-bottom: 1px solid #DAE0E7;
    background: #F9F9F9;
    list-style-type: none;
    padding: 12px 12px 0;
}

.li-tab {
    float: left;
    height: 44px;
    margin: 0 8px -1px 0;
    border: 1px solid #DAE0E7;
    background: #F9F9F9;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.li-tab a {
    text-decoration: none;
    color: #333;
    display: inline-block;
    padding: 12px 2px 12px 16px;
    white-space: nowrap;
}

.tabSelected {
    height: 45px;
    border-bottom: none;
    background: #fff;
}
